.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .container_questions {
    display: flex;
    justify-content: center;
    gap: 11px;

    .container_inner {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 50%;
    }
  }
}