@use "shared/themes/_variables" as *;

.footer {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3;
  margin-top: auto;

  .container {
    width: 1440px;
    margin: 0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;
    gap: 45px;

    .upper_container {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      color: $text-base;

      .footer_column {
        display: flex;
        flex-direction: column;
        justify-content: end;

        .logo_container {
          margin-bottom: 40px;
        }

        .requisites_container {
          display: flex;
          gap: 25px;
          font-weight: 500;
          font-size: 15px;
          line-height: 21px;
          letter-spacing: -0.03em;

          .requisites_items {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
          }
        }

        .navigation_container {
          display: flex;
          flex-direction: column;
          justify-content: end;
          gap: 0.5rem;

          .link {
            text-decoration: none;
            color: $text-base;
            font-size: 15px;
            line-height: 18.15px;
          }
        }

        .contacts_conditions_container {
          display: flex;
          flex-direction: column;
          gap: 40px;

          .contacts_container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .contact_item {
              display: flex;
              gap: 1rem;
              font-weight: 500;
              font-size: 23px;
            }
          }

          .conditions_container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            font-size: 14px;
            line-height: 19.6px;
            letter-spacing: -0.03em;
          }
        }
      }
    }

    .bottom_container {
      display: flex;
      justify-content: space-between;
      padding: 35px 0 35px 0;
      border-top: 1px solid #d7d7d7;

      .bottom_container_item {
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: -0.03em;

        color: #727272;
        display: flex;
        align-items: center;

        &:first-child {
          flex-basis: 28%;
        }
      }
    }
  }
}
