<<<<<<< HEAD
$base-color: #2C272B;
$base-gray: #F3F3F3;
$base-cyan: #12A996;
=======
$text-base: #2C272B;
$base-white: #FCFCFC;
$base-gray: #F3F3F3;
$ultramarine: #12A996;
>>>>>>> b3010988138ccf214439bfb5f9207b7a8b927a6f
$font-weight-main: 400;
$font-size-main: 14px;
