@import "shared/themes/_variables.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .upper_container {
    display: flex;
    flex-grow: 1;
    gap: 10px;

    .left_column {
      display: flex;
      flex-direction: column;
      gap: 55px;
      padding: 40px 50px 40px 50px;
       box-sizing: border-box;
      flex-basis: 50%;

      .title_container {
        display: flex;

        .title {
          margin: 0;
          font-size: 60px;
          font-weight: 600;
          line-height: 63px;
          letter-spacing: -0.02em;
        }

        .logo_container {
          display: flex;
          flex-direction: column;
          justify-content: end;
          padding-bottom: 10px;
        }
      }

      .description {
        font-size: 17px;
        line-height: 23.8px;
        letter-spacing: -0.02em;
        white-space: pre-wrap;
      }

      .buttons_container {
        display: flex;
        gap: 10px;
      }
    }
  }

  .right_column {
    flex-basis: 50%;

    .video {
      height: 100%;
      width: 100%;
    }
  }

  .lower_container {
    display: flex;
    gap: 10px;

    .small_panel {
      flex-basis: 25%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 38px;
      padding: 30px;

      .icon_container {

        .icon {
          width: 31px;
        }
      }

      .text {
        color: $text-base;
        font-size: 14px;
        line-height: 19.6px;
      }
    }
  }
}
