@use "shared/themes/_variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 46px;
  background-color: $pale-cyan;
  color: $ultramarine;
  border-radius: 5px;
  border: 1px solid $ultramarine;

  .question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    line-height: 23.8px;
    letter-spacing: -3%;

    .arrow {
      transition: 0.3s;
    }

    .arrow_rotated {
      transform: rotate(90deg);
    }
  }

  .answer {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -3%;
  }
}

.no_answer {
  padding: 32px 30px 32px 30px;
}

.with_answer {
  padding: 32px 32.5px 50px 30px;
}