@use "shared/themes/_variables" as *;

.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: $pale-cyan;
  color: $ultramarine;
  border-radius: 5px;
  border: 1px solid $ultramarine;

  .container_inner {
    height: 100%;

    .question {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      cursor: pointer;
      font-weight: 500;
      font-size: 17px;
      line-height: 23.8px;
      letter-spacing: -3%;
      padding: 32px 30px 32px 30px;

      .arrow {
        transition: 0.3s;
      }

      .arrow_rotated {
        transform: rotate(90deg);
      }
    }
  }

  .answer {
    padding: 0 30px 50px 30px;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -3%;
  }
}
