@use "shared/themes/_variables" as *;

.textarea {
  font-family: Inter, sans-serif;
  border: none;
  padding: 16px;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
  border-radius: 7px;
  resize: none;
  outline: none;

  &:focus {
    outline: 2px solid $ultramarine;
  }

  &::placeholder {
    color: #ADADAD;
    font-family: Inter, sans-serif;
    font-size: 20px;
    line-height: 24.2px;
  }
}